<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="springbootdemo.demo.mapping.UiCustomGroupBuyingListMapper">
    <select id="selectUiCustomGroupBuyingList" parameterType="map" resultType="springbootdemo.demo.domain.UiCustomGroupBuyingList">
        select * from ui_custom_group_buying_list
        
    </select>
</mapper>
